table {
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 0 px;
         }

td {
	border: 1px solid #FF4D94;
	text-align:center;
	color:#5CADFF;
	background-color:#FFC2E0; 
    }

th {
	text-align:center;
	color:#FFFFCC;
	background-color:#FF4D94;
   }